<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAbastecimientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAbastecimientoLabel_nit}" for="nit" />
                    <h:inputText id="nit" value="#{abastecimientoController.selected.nit}" title="#{bundle.EditAbastecimientoTitle_nit}" required="true" requiredMessage="#{bundle.EditAbastecimientoRequiredMessage_nit}"/>
                    <h:outputLabel value="#{bundle.EditAbastecimientoLabel_nombreEmp}" for="nombreEmp" />
                    <h:inputText id="nombreEmp" value="#{abastecimientoController.selected.nombreEmp}" title="#{bundle.EditAbastecimientoTitle_nombreEmp}" required="true" requiredMessage="#{bundle.EditAbastecimientoRequiredMessage_nombreEmp}"/>
                </h:panelGrid>
                <h:commandLink action="#{abastecimientoController.update}" value="#{bundle.EditAbastecimientoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAbastecimientoViewLink}"/>
                <br />
                <h:commandLink action="#{abastecimientoController.prepareList}" value="#{bundle.EditAbastecimientoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAbastecimientoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
