<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAbastecimientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAbastecimientoEmpty}" rendered="#{abastecimientoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{abastecimientoController.items.rowCount > 0}">
                    <h:outputText value="#{abastecimientoController.pagination.pageFirstItem + 1}..#{abastecimientoController.pagination.pageLastItem + 1}/#{abastecimientoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{abastecimientoController.previous}" value="#{bundle.Previous} #{abastecimientoController.pagination.pageSize}" rendered="#{abastecimientoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{abastecimientoController.next}" value="#{bundle.Next} #{abastecimientoController.pagination.pageSize}" rendered="#{abastecimientoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{abastecimientoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAbastecimientoTitle_nit}"/>
                            </f:facet>
                            <h:outputText value="#{item.nit}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAbastecimientoTitle_nombreEmp}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreEmp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{abastecimientoController.prepareView}" value="#{bundle.ListAbastecimientoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{abastecimientoController.prepareEdit}" value="#{bundle.ListAbastecimientoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{abastecimientoController.destroy}" value="#{bundle.ListAbastecimientoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{abastecimientoController.prepareCreate}" value="#{bundle.ListAbastecimientoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAbastecimientoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
