<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSectorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSectorLabel_refSector}" for="refSector" />
                    <h:inputText id="refSector" value="#{sectorController.selected.refSector}" title="#{bundle.CreateSectorTitle_refSector}" required="true" requiredMessage="#{bundle.CreateSectorRequiredMessage_refSector}"/>
                    <h:outputLabel value="#{bundle.CreateSectorLabel_descripcionSector}" for="descripcionSector" />
                    <h:inputText id="descripcionSector" value="#{sectorController.selected.descripcionSector}" title="#{bundle.CreateSectorTitle_descripcionSector}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{sectorController.create}" value="#{bundle.CreateSectorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{sectorController.prepareList}" value="#{bundle.CreateSectorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateSectorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
