<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSectorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSectorEmpty}" rendered="#{sectorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{sectorController.items.rowCount > 0}">
                    <h:outputText value="#{sectorController.pagination.pageFirstItem + 1}..#{sectorController.pagination.pageLastItem + 1}/#{sectorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{sectorController.previous}" value="#{bundle.Previous} #{sectorController.pagination.pageSize}" rendered="#{sectorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{sectorController.next}" value="#{bundle.Next} #{sectorController.pagination.pageSize}" rendered="#{sectorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{sectorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectorTitle_refSector}"/>
                            </f:facet>
                            <h:outputText value="#{item.refSector}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectorTitle_descripcionSector}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionSector}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{sectorController.prepareView}" value="#{bundle.ListSectorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sectorController.prepareEdit}" value="#{bundle.ListSectorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sectorController.destroy}" value="#{bundle.ListSectorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{sectorController.prepareCreate}" value="#{bundle.ListSectorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSectorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
