<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateInventarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_stock}" for="stock" />
                    <h:inputText id="stock" value="#{inventarioController.selected.stock}" title="#{bundle.CreateInventarioTitle_stock}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_stock}"/>
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_fkPresentacion}" for="fkPresentacion" />
                    <h:inputText id="fkPresentacion" value="#{inventarioController.selected.fkPresentacion}" title="#{bundle.CreateInventarioTitle_fkPresentacion}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_fkPresentacion}"/>
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_entradas}" for="entradas" />
                    <h:inputText id="entradas" value="#{inventarioController.selected.entradas}" title="#{bundle.CreateInventarioTitle_entradas}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_entradas}"/>
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_salidas}" for="salidas" />
                    <h:inputText id="salidas" value="#{inventarioController.selected.salidas}" title="#{bundle.CreateInventarioTitle_salidas}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_salidas}"/>
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_fechaEntrada}" for="fechaEntrada" />
                    <h:inputText id="fechaEntrada" value="#{inventarioController.selected.fechaEntrada}" title="#{bundle.CreateInventarioTitle_fechaEntrada}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_fechaEntrada}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateInventarioLabel_idInventario}" for="idInventario" />
                    <h:inputText id="idInventario" value="#{inventarioController.selected.idInventario}" title="#{bundle.CreateInventarioTitle_idInventario}" required="true" requiredMessage="#{bundle.CreateInventarioRequiredMessage_idInventario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{inventarioController.create}" value="#{bundle.CreateInventarioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{inventarioController.prepareList}" value="#{bundle.CreateInventarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateInventarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
