<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEmpleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_c}" for="c" />
                    <h:inputText id="c" value="#{empleadoController.selected.c}" title="#{bundle.EditEmpleadoTitle_c}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_c}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_turno}" for="turno" />
                    <h:inputTextarea rows="4" cols="30" id="turno" value="#{empleadoController.selected.turno}" title="#{bundle.EditEmpleadoTitle_turno}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_turno}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{empleadoController.selected.direccion}" title="#{bundle.EditEmpleadoTitle_direccion}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_fkIdPersona}" for="fkIdPersona" />
                    <h:selectOneMenu id="fkIdPersona" value="#{empleadoController.selected.fkIdPersona}" title="#{bundle.EditEmpleadoTitle_fkIdPersona}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_fkIdPersona}">
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_sector}" for="sector" />
                    <h:selectOneMenu id="sector" value="#{empleadoController.selected.sector}" title="#{bundle.EditEmpleadoTitle_sector}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_sector}">
                        <f:selectItems value="#{sectorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{empleadoController.update}" value="#{bundle.EditEmpleadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEmpleadoViewLink}"/>
                <br />
                <h:commandLink action="#{empleadoController.prepareList}" value="#{bundle.EditEmpleadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEmpleadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
