<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFactComTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFactComLabel_refFactCom}" for="refFactCom" />
                    <h:inputText id="refFactCom" value="#{factComController.selected.refFactCom}" title="#{bundle.EditFactComTitle_refFactCom}" required="true" requiredMessage="#{bundle.EditFactComRequiredMessage_refFactCom}"/>
                    <h:outputLabel value="#{bundle.EditFactComLabel_fechaPedAbaste}" for="fechaPedAbaste" />
                    <h:inputText id="fechaPedAbaste" value="#{factComController.selected.fechaPedAbaste}" title="#{bundle.EditFactComTitle_fechaPedAbaste}" required="true" requiredMessage="#{bundle.EditFactComRequiredMessage_fechaPedAbaste}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditFactComLabel_pago}" for="pago" />
                    <h:inputTextarea rows="4" cols="30" id="pago" value="#{factComController.selected.pago}" title="#{bundle.EditFactComTitle_pago}" required="true" requiredMessage="#{bundle.EditFactComRequiredMessage_pago}"/>
                    <h:outputLabel value="#{bundle.EditFactComLabel_fkIdEmp}" for="fkIdEmp" />
                    <h:selectOneMenu id="fkIdEmp" value="#{factComController.selected.fkIdEmp}" title="#{bundle.EditFactComTitle_fkIdEmp}" required="true" requiredMessage="#{bundle.EditFactComRequiredMessage_fkIdEmp}">
                        <f:selectItems value="#{empleadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditFactComLabel_fkIdDistribuidor}" for="fkIdDistribuidor" />
                    <h:selectOneMenu id="fkIdDistribuidor" value="#{factComController.selected.fkIdDistribuidor}" title="#{bundle.EditFactComTitle_fkIdDistribuidor}" required="true" requiredMessage="#{bundle.EditFactComRequiredMessage_fkIdDistribuidor}">
                        <f:selectItems value="#{abastecimientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{factComController.update}" value="#{bundle.EditFactComSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditFactComViewLink}"/>
                <br />
                <h:commandLink action="#{factComController.prepareList}" value="#{bundle.EditFactComShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditFactComIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
