<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPuntoGeograficoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPuntoGeograficoLabel_idPunto}"/>
                    <h:outputText value="#{puntoGeograficoController.selected.idPunto}" title="#{bundle.ViewPuntoGeograficoTitle_idPunto}"/>
                    <h:outputText value="#{bundle.ViewPuntoGeograficoLabel_descripcionPunto}"/>
                    <h:outputText value="#{puntoGeograficoController.selected.descripcionPunto}" title="#{bundle.ViewPuntoGeograficoTitle_descripcionPunto}"/>
                    <h:outputText value="#{bundle.ViewPuntoGeograficoLabel_nombre}"/>
                    <h:outputText value="#{puntoGeograficoController.selected.nombre}" title="#{bundle.ViewPuntoGeograficoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewPuntoGeograficoLabel_sector}"/>
                    <h:outputText value="#{puntoGeograficoController.selected.sector}" title="#{bundle.ViewPuntoGeograficoTitle_sector}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{puntoGeograficoController.destroyAndView}" value="#{bundle.ViewPuntoGeograficoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPuntoGeograficoEditLink}"/>
                <br />
                <h:commandLink action="#{puntoGeograficoController.prepareCreate}" value="#{bundle.ViewPuntoGeograficoCreateLink}" />
                <br />
                <h:commandLink action="#{puntoGeograficoController.prepareList}" value="#{bundle.ViewPuntoGeograficoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPuntoGeograficoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
