<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPersonaEmpty}" rendered="#{personaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{personaController.items.rowCount > 0}">
                    <h:outputText value="#{personaController.pagination.pageFirstItem + 1}..#{personaController.pagination.pageLastItem + 1}/#{personaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{personaController.previous}" value="#{bundle.Previous} #{personaController.pagination.pageSize}" rendered="#{personaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{personaController.next}" value="#{bundle.Next} #{personaController.pagination.pageSize}" rendered="#{personaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{personaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonaTitle_c}"/>
                            </f:facet>
                            <h:outputText value="#{item.c}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonaTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonaTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonaTitle_rol}"/>
                            </f:facet>
                            <h:outputText value="#{item.rol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{personaController.prepareView}" value="#{bundle.ListPersonaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personaController.prepareEdit}" value="#{bundle.ListPersonaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personaController.destroy}" value="#{bundle.ListPersonaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{personaController.prepareCreate}" value="#{bundle.ListPersonaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPersonaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
