<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersonaLabel_c}"/>
                    <h:outputText value="#{personaController.selected.c}" title="#{bundle.ViewPersonaTitle_c}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_nombre}"/>
                    <h:outputText value="#{personaController.selected.nombre}" title="#{bundle.ViewPersonaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_apellido}"/>
                    <h:outputText value="#{personaController.selected.apellido}" title="#{bundle.ViewPersonaTitle_apellido}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_telefono}"/>
                    <h:outputText value="#{personaController.selected.telefono}" title="#{bundle.ViewPersonaTitle_telefono}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_rol}"/>
                    <h:outputText value="#{personaController.selected.rol}" title="#{bundle.ViewPersonaTitle_rol}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personaController.destroyAndView}" value="#{bundle.ViewPersonaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersonaEditLink}"/>
                <br />
                <h:commandLink action="#{personaController.prepareCreate}" value="#{bundle.ViewPersonaCreateLink}" />
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.ViewPersonaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersonaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
