<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePresentacionProductoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePresentacionProductoLabel_refCilindro}" for="refCilindro" />
                    <h:inputText id="refCilindro" value="#{presentacionProductoController.selected.refCilindro}" title="#{bundle.CreatePresentacionProductoTitle_refCilindro}" required="true" requiredMessage="#{bundle.CreatePresentacionProductoRequiredMessage_refCilindro}"/>
                    <h:outputLabel value="#{bundle.CreatePresentacionProductoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{presentacionProductoController.selected.precio}" title="#{bundle.CreatePresentacionProductoTitle_precio}" required="true" requiredMessage="#{bundle.CreatePresentacionProductoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.CreatePresentacionProductoLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{presentacionProductoController.selected.tipo}" title="#{bundle.CreatePresentacionProductoTitle_tipo}" required="true" requiredMessage="#{bundle.CreatePresentacionProductoRequiredMessage_tipo}"/>
                    <h:outputLabel value="#{bundle.CreatePresentacionProductoLabel_fkProducto}" for="fkProducto" />
                    <h:selectOneMenu id="fkProducto" value="#{presentacionProductoController.selected.fkProducto}" title="#{bundle.CreatePresentacionProductoTitle_fkProducto}" >
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePresentacionProductoLabel_fkIdInventario}" for="fkIdInventario" />
                    <h:selectOneMenu id="fkIdInventario" value="#{presentacionProductoController.selected.fkIdInventario}" title="#{bundle.CreatePresentacionProductoTitle_fkIdInventario}" required="true" requiredMessage="#{bundle.CreatePresentacionProductoRequiredMessage_fkIdInventario}">
                        <f:selectItems value="#{inventarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{presentacionProductoController.create}" value="#{bundle.CreatePresentacionProductoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{presentacionProductoController.prepareList}" value="#{bundle.CreatePresentacionProductoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePresentacionProductoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
