<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFactVenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFactVenLabel_refFactVen}" for="refFactVen" />
                    <h:inputText id="refFactVen" value="#{factVenController.selected.refFactVen}" title="#{bundle.EditFactVenTitle_refFactVen}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_refFactVen}"/>
                    <h:outputLabel value="#{bundle.EditFactVenLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{factVenController.selected.fecha}" title="#{bundle.EditFactVenTitle_fecha}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditFactVenLabel_pago}" for="pago" />
                    <h:inputTextarea rows="4" cols="30" id="pago" value="#{factVenController.selected.pago}" title="#{bundle.EditFactVenTitle_pago}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_pago}"/>
                    <h:outputLabel value="#{bundle.EditFactVenLabel_fkPresentacionProducto}" for="fkPresentacionProducto" />
                    <h:selectOneMenu id="fkPresentacionProducto" value="#{factVenController.selected.fkPresentacionProducto}" title="#{bundle.EditFactVenTitle_fkPresentacionProducto}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_fkPresentacionProducto}">
                        <f:selectItems value="#{presentacionProductoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditFactVenLabel_FKIdEmp}" for="FKIdEmp" />
                    <h:selectOneMenu id="FKIdEmp" value="#{factVenController.selected.FKIdEmp}" title="#{bundle.EditFactVenTitle_FKIdEmp}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_FKIdEmp}">
                        <f:selectItems value="#{empleadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditFactVenLabel_fkIdUsu}" for="fkIdUsu" />
                    <h:selectOneMenu id="fkIdUsu" value="#{factVenController.selected.fkIdUsu}" title="#{bundle.EditFactVenTitle_fkIdUsu}" required="true" requiredMessage="#{bundle.EditFactVenRequiredMessage_fkIdUsu}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{factVenController.update}" value="#{bundle.EditFactVenSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditFactVenViewLink}"/>
                <br />
                <h:commandLink action="#{factVenController.prepareList}" value="#{bundle.EditFactVenShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditFactVenIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
