<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFactVenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFactVenEmpty}" rendered="#{factVenController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{factVenController.items.rowCount > 0}">
                    <h:outputText value="#{factVenController.pagination.pageFirstItem + 1}..#{factVenController.pagination.pageLastItem + 1}/#{factVenController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{factVenController.previous}" value="#{bundle.Previous} #{factVenController.pagination.pageSize}" rendered="#{factVenController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{factVenController.next}" value="#{bundle.Next} #{factVenController.pagination.pageSize}" rendered="#{factVenController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{factVenController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_refFactVen}"/>
                            </f:facet>
                            <h:outputText value="#{item.refFactVen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_pago}"/>
                            </f:facet>
                            <h:outputText value="#{item.pago}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_fkPresentacionProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPresentacionProducto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_FKIdEmp}"/>
                            </f:facet>
                            <h:outputText value="#{item.FKIdEmp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFactVenTitle_fkIdUsu}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkIdUsu}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{factVenController.prepareView}" value="#{bundle.ListFactVenViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{factVenController.prepareEdit}" value="#{bundle.ListFactVenEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{factVenController.destroy}" value="#{bundle.ListFactVenDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{factVenController.prepareCreate}" value="#{bundle.ListFactVenCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFactVenIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
