<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetalleComTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_total}" for="total" />
                    <h:inputText id="total" value="#{detalleComController.selected.total}" title="#{bundle.CreateDetalleComTitle_total}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_total}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{detalleComController.selected.descripcion}" title="#{bundle.CreateDetalleComTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_iva}" for="iva" />
                    <h:inputText id="iva" value="#{detalleComController.selected.iva}" title="#{bundle.CreateDetalleComTitle_iva}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_iva}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_cantidad}" for="cantidad" />
                    <h:inputText id="cantidad" value="#{detalleComController.selected.cantidad}" title="#{bundle.CreateDetalleComTitle_cantidad}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_cantidad}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_idDetalleCompra}" for="idDetalleCompra" />
                    <h:inputText id="idDetalleCompra" value="#{detalleComController.selected.idDetalleCompra}" title="#{bundle.CreateDetalleComTitle_idDetalleCompra}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_idDetalleCompra}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleComLabel_fkFactCompra}" for="fkFactCompra" />
                    <h:selectOneMenu id="fkFactCompra" value="#{detalleComController.selected.fkFactCompra}" title="#{bundle.CreateDetalleComTitle_fkFactCompra}" required="true" requiredMessage="#{bundle.CreateDetalleComRequiredMessage_fkFactCompra}">
                        <f:selectItems value="#{factComController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detalleComController.create}" value="#{bundle.CreateDetalleComSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detalleComController.prepareList}" value="#{bundle.CreateDetalleComShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDetalleComIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
