<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetalleVenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_total}" for="total" />
                    <h:inputText id="total" value="#{detalleVenController.selected.total}" title="#{bundle.CreateDetalleVenTitle_total}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_total}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{detalleVenController.selected.descripcion}" title="#{bundle.CreateDetalleVenTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_iva}" for="iva" />
                    <h:inputText id="iva" value="#{detalleVenController.selected.iva}" title="#{bundle.CreateDetalleVenTitle_iva}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_iva}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_cantidad}" for="cantidad" />
                    <h:inputText id="cantidad" value="#{detalleVenController.selected.cantidad}" title="#{bundle.CreateDetalleVenTitle_cantidad}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_cantidad}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_refDetalleVenta}" for="refDetalleVenta" />
                    <h:inputText id="refDetalleVenta" value="#{detalleVenController.selected.refDetalleVenta}" title="#{bundle.CreateDetalleVenTitle_refDetalleVenta}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_refDetalleVenta}"/>
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_formadepago}" for="formadepago" />
                    <h:inputText id="formadepago" value="#{detalleVenController.selected.formadepago}" title="#{bundle.CreateDetalleVenTitle_formadepago}" />
                    <h:outputLabel value="#{bundle.CreateDetalleVenLabel_fkRefFactVen}" for="fkRefFactVen" />
                    <h:selectOneMenu id="fkRefFactVen" value="#{detalleVenController.selected.fkRefFactVen}" title="#{bundle.CreateDetalleVenTitle_fkRefFactVen}" required="true" requiredMessage="#{bundle.CreateDetalleVenRequiredMessage_fkRefFactVen}">
                        <f:selectItems value="#{factVenController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detalleVenController.create}" value="#{bundle.CreateDetalleVenSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detalleVenController.prepareList}" value="#{bundle.CreateDetalleVenShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDetalleVenIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
