<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetalleVenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_total}"/>
                    <h:outputText value="#{detalleVenController.selected.total}" title="#{bundle.ViewDetalleVenTitle_total}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_descripcion}"/>
                    <h:outputText value="#{detalleVenController.selected.descripcion}" title="#{bundle.ViewDetalleVenTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_iva}"/>
                    <h:outputText value="#{detalleVenController.selected.iva}" title="#{bundle.ViewDetalleVenTitle_iva}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_cantidad}"/>
                    <h:outputText value="#{detalleVenController.selected.cantidad}" title="#{bundle.ViewDetalleVenTitle_cantidad}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_refDetalleVenta}"/>
                    <h:outputText value="#{detalleVenController.selected.refDetalleVenta}" title="#{bundle.ViewDetalleVenTitle_refDetalleVenta}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_formadepago}"/>
                    <h:outputText value="#{detalleVenController.selected.formadepago}" title="#{bundle.ViewDetalleVenTitle_formadepago}"/>
                    <h:outputText value="#{bundle.ViewDetalleVenLabel_fkRefFactVen}"/>
                    <h:outputText value="#{detalleVenController.selected.fkRefFactVen}" title="#{bundle.ViewDetalleVenTitle_fkRefFactVen}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detalleVenController.destroyAndView}" value="#{bundle.ViewDetalleVenDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDetalleVenEditLink}"/>
                <br />
                <h:commandLink action="#{detalleVenController.prepareCreate}" value="#{bundle.ViewDetalleVenCreateLink}" />
                <br />
                <h:commandLink action="#{detalleVenController.prepareList}" value="#{bundle.ViewDetalleVenShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDetalleVenIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
