<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPeticionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPeticionLabel_refPedido}" for="refPedido" />
                    <h:inputText id="refPedido" value="#{peticionController.selected.refPedido}" title="#{bundle.EditPeticionTitle_refPedido}" required="true" requiredMessage="#{bundle.EditPeticionRequiredMessage_refPedido}"/>
                    <h:outputLabel value="#{bundle.EditPeticionLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{peticionController.selected.fecha}" title="#{bundle.EditPeticionTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPeticionLabel_fkIdUsuario}" for="fkIdUsuario" />
                    <h:selectOneMenu id="fkIdUsuario" value="#{peticionController.selected.fkIdUsuario}" title="#{bundle.EditPeticionTitle_fkIdUsuario}" required="true" requiredMessage="#{bundle.EditPeticionRequiredMessage_fkIdUsuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{peticionController.update}" value="#{bundle.EditPeticionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPeticionViewLink}"/>
                <br />
                <h:commandLink action="#{peticionController.prepareList}" value="#{bundle.EditPeticionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPeticionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
