<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPeticionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPeticionEmpty}" rendered="#{peticionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{peticionController.items.rowCount > 0}">
                    <h:outputText value="#{peticionController.pagination.pageFirstItem + 1}..#{peticionController.pagination.pageLastItem + 1}/#{peticionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{peticionController.previous}" value="#{bundle.Previous} #{peticionController.pagination.pageSize}" rendered="#{peticionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{peticionController.next}" value="#{bundle.Next} #{peticionController.pagination.pageSize}" rendered="#{peticionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{peticionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPeticionTitle_refPedido}"/>
                            </f:facet>
                            <h:outputText value="#{item.refPedido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPeticionTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPeticionTitle_fkIdUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkIdUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{peticionController.prepareView}" value="#{bundle.ListPeticionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peticionController.prepareEdit}" value="#{bundle.ListPeticionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peticionController.destroy}" value="#{bundle.ListPeticionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{peticionController.prepareCreate}" value="#{bundle.ListPeticionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPeticionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
